![Los Angeles skyline](la_skyline.jpg)

Los Angeles, California ðŸ˜Ž. The City of Angels. Tinseltown. The Entertainment Capital of the World! 

Known for its warm weather, palm trees, sprawling coastline, and Hollywood, along with producing some of the most iconic films and songs. However, as with any highly populated city, it isn't always glamorous and there can be a large volume of crime. That's where you can help!

You have been asked to support the Los Angeles Police Department (LAPD) by analyzing crime data to identify patterns in criminal behavior. They plan to use your insights to allocate resources effectively to tackle various crimes in different areas.

Which hour has the highest frequency of crimes? Store as an integer variable called peak_crime_hour.\
Which area has the largest frequency of night crimes (crimes committed between 10pm and 3:59am)? Save as a string variable called peak_night_crime_location.\
Identify the number of crimes committed against victims of different age groups.\
Save as a pandas Series called victim_ages, with age group labels "0-17", "18-25", "26-34", "35-44", "45-54", "55-64", and "65+" as the index and the frequency of crimes as the values.

## The Data

They have provided you with a single dataset to use. A summary and preview are provided below.

It is a modified version of the original data, which is publicly available from Los Angeles Open Data.

# crimes.csv

| Column     | Description              |
|------------|--------------------------|
| `'DR_NO'` | Division of Records Number: Official file number made up of a 2-digit year, area ID, and 5 digits. |
| `'Date Rptd'` | Date reported - MM/DD/YYYY. |
| `'DATE OCC'` | Date of occurrence - MM/DD/YYYY. |
| `'TIME OCC'` | In 24-hour military time. |
| `'AREA NAME'` | The 21 Geographic Areas or Patrol Divisions are also given a name designation that references a landmark or the surrounding community that it is responsible for. For example, the 77th Street Division is located at the intersection of South Broadway and 77th Street, serving neighborhoods in South Los Angeles. |
| `'Crm Cd Desc'` | Indicates the crime committed. |
| `'Vict Age'` | Victim's age in years. |
| `'Vict Sex'` | Victim's sex: `F`: Female, `M`: Male, `X`: Unknown. |
| `'Vict Descent'` | Victim's descent:<ul><li>`A` - Other Asian</li><li>`B` - Black</li><li>`C` - Chinese</li><li>`D` - Cambodian</li><li>`F` - Filipino</li><li>`G` - Guamanian</li><li>`H` - Hispanic/Latin/Mexican</li><li>`I` - American Indian/Alaskan Native</li><li>`J` - Japanese</li><li>`K` - Korean</li><li>`L` - Laotian</li><li>`O` - Other</li><li>`P` - Pacific Islander</li><li>`S` - Samoan</li><li>`U` - Hawaiian</li><li>`V` - Vietnamese</li><li>`W` - White</li><li>`X` - Unknown</li><li>`Z` - Asian Indian</li> |
| `'Weapon Desc'` | Description of the weapon used (if applicable). |
| `'Status Desc'` | Crime status. |
| `'LOCATION'` | Street address of the crime. |

In [1]:
# Re-run this cell
#Â Import required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
crimes = pd.read_csv("crimes.csv", dtype={"TIME OCC": str})
crimes.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA NAME,Crm Cd Desc,Vict Age,Vict Sex,Vict Descent,Weapon Desc,Status Desc,LOCATION
0,220314085,2022-07-22,2020-05-12,1110,Southwest,THEFT OF IDENTITY,27,F,B,NaN,Invest Cont,2500 S SYCAMORE AV
1,222013040,2022-08-06,2020-06-04,1620,Olympic,THEFT OF IDENTITY,60,M,H,NaN,Invest Cont,3300 SAN MARINO ST
2,220614831,2022-08-18,2020-08-17,1200,Hollywood,THEFT OF IDENTITY,28,M,H,NaN,Invest Cont,1900 TRANSIENT
3,231207725,2023-02-27,2020-01-27,0635,77th Street,THEFT OF IDENTITY,37,M,H,NaN,Invest Cont,6200 4TH AV
4,220213256,2022-07-14,2020-07-14,0900,Rampart,THEFT OF IDENTITY,79,M,B,NaN,Invest Cont,1200 W 7TH ST

In [2]:
def eda_df(dataframe):
    print('SHAPE'.center(50, '='))
    print(dataframe.shape)
    print('INFO'.center(50, '='))
    print(dataframe.info())
    print('TOTAL NULL VALUES (IF ANY)'.center(50, '='))
    print(dataframe.isna().sum())
    print('PREVIEW'.center(50, '='))
    print(dataframe.head())

    for col in dataframe.columns:
        print(dataframe[col].value_counts(normalize=True))

eda_df(crimes)

======================SHAPE=======================
(185715, 12)
=======================INFO=======================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185715 entries, 0 to 185714
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   DR_NO         185715 non-null  int64
 1   Date Rptd     185715 non-null  object
 2   DATE OCC      185715 non-null  object
 3   TIME OCC      185715 non-null  object
 4   AREA NAME     185715 non-null  object
 5   Crm Cd Desc   185715 non-null  object
 6   Vict Age      185715 non-null  int64
 7   Vict Sex      185704 non-null  object
 8   Vict Descent  185705 non-null  object
 9   Weapon Desc   73502 non-null   object
 10  Status Desc   185715 non-null  object
 11  LOCATION      185715 non-null  object
dtypes: int64(2), object(10)
memory usage: 17.0+ MB
None
============TOTAL NULL VALUES (IF ANY)============
DR_NO                0
Date Rptd            0
DATE OCC             0
TIME OCC             0
AREA NAME            0
Crm Cd Desc          0
Vict Age             0
Vict Sex            11
Vict Descent        10
Weapon Desc     112213
Status Desc          0
LOCATION             0
dtype: int64
=====================PREVIEW======================
       DR_NO   Date Rptd    DATE OCC TIME OCC    AREA NAME        Crm Cd Desc  \
0  220314085  2022-07-22  2020-05-12     1110    Southwest  THEFT OF IDENTITY
1  222013040  2022-08-06  2020-06-04     1620      Olympic  THEFT OF IDENTITY
2  220614831  2022-08-18  2020-08-17     1200    Hollywood  THEFT OF IDENTITY
3  231207725  2023-02-27  2020-01-27     0635  77th Street  THEFT OF IDENTITY
4  220213256  2022-07-14  2020-07-14     0900      Rampart  THEFT OF IDENTITY

   Vict Age Vict Sex Vict Descent Weapon Desc  Status Desc  \
0        27        F            B         NaN  Invest Cont
1        60        M            H         NaN  Invest Cont
2        28        M            H         NaN  Invest Cont
3        37        M            H         NaN  Invest Cont
4        79        M            B         NaN  Invest Cont

                                  LOCATION
0  2500 S  SYCAMORE                     AV
1  3300    SAN MARINO                   ST
2                        1900    TRANSIENT
3  6200    4TH                          AV
4  1200 W  7TH                          ST
DR_NO
230906458    0.000005
220314085    0.000005
222013040    0.000005
230112241    0.000005
230408058    0.000005
               ...
231906599    0.000005
221515929    0.000005
221216052    0.000005
220213256    0.000005
231207725    0.000005
Name: proportion, Length: 185715, dtype: float64
Date Rptd
2023-02-03    0.004103
2023-02-02    0.003882
2023-01-03    0.003855
2022-12-02    0.003769
2022-06-02    0.003699
                ...
2023-06-30    0.001804
2023-03-05    0.001788
2022-11-24    0.001702
2023-02-25    0.001545
2023-07-03    0.000700
Name: proportion, Length: 398, dtype: float64
DATE OCC
2022-12-02    0.005035
2023-02-02    0.004572
2022-10-01    0.004512
2022-12-01    0.004458
2023-02-01    0.004362
                ...
2020-07-12    0.000005
2020-01-24    0.000005
2020-05-29    0.000005
2020-06-11    0.000005
2020-06-04    0.000005
Name: proportion, Length: 1152, dtype: float64
TIME OCC
1200    0.034795
1800    0.021490
2000    0.020295
1700    0.020214
0001    0.019315
          ...
0544    0.000022
0531    0.000016
0528    0.000016
0511    0.000016
2259    0.000016
Name: proportion, Length: 1439, dtype: float64
AREA NAME
Central        0.080467
Southwest      0.064319
77th Street    0.063210
Pacific        0.053431
Hollywood      0.052564
Southeast      0.051536
Olympic        0.050691
Newton         0.049280
Van Nuys       0.046421
N Hollywood    0.045780
Wilshire       0.045672
Topanga        0.045651
Rampart        0.044940
West Valley    0.043626
West LA        0.042598
Northeast      0.041074
Devonshire     0.039905
Mission        0.037638
Harbor         0.035635
Hollenbeck     0.033347
Foothill       0.032216
Name: proportion, dtype: float64
Crm Cd Desc
THEFT OF IDENTITY                                 0.122069
BATTERY - SIMPLE ASSAULT                          0.106044
BURGLARY FROM VEHICLE                             0.074302
ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT    0.071157
INTIMATE PARTNER - SIMPLE ASSAULT                 0.064513
                                                    ...
BRIBERY                                           0.000005
GRAND THEFT / INSURANCE FRAUD                     0.000005
TILL TAP - GRAND THEFT ($950.01 & OVER)           0.000005
DISHONEST EMPLOYEE ATTEMPTED THEFT                0.000005
LYNCHING                                          0.000005
Name: proportion, Length: 104, dtype: float64
Vict Age
30    0.030773
35    0.030676
32    0.029513
31    0.029465
29    0.029281
        ...
96    0.000145
95    0.000135
94    0.000124
97    0.000118
98    0.000092
Name: proportion, Length: 98, dtype: float64
Vict Sex
M    0.500840
F    0.483856
X    0.015142
H    0.000162
Name: proportion, dtype: float64
Vict Descent
H    0.399171
W    0.242239
B    0.188099
O    0.087941
A    0.029719
X    0.024490
K    0.007480
F    0.006613
C    0.006516
J    0.002332
V    0.001761
I    0.001734
Z    0.000781
P    0.000447
U    0.000291
D    0.000113
L    0.000108
S    0.000086
G    0.000075
-    0.000005
Name: proportion, dtype: float64
Weapon Desc
STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)    0.542693
UNKNOWN WEAPON/OTHER WEAPON                       0.100351
VERBAL THREAT                                     0.080188
HAND GUN                                          0.059794
KNIFE WITH BLADE 6INCHES OR LESS                  0.021877
                                                    ...
ANTIQUE FIREARM                                   0.000041
RELIC FIREARM                                     0.000014
M-14 SEMIAUTOMATIC ASSAULT RIFLE                  0.000014
BOWIE KNIFE                                       0.000014
MAC-10 SEMIAUTOMATIC ASSAULT WEAPON               0.000014
Name: proportion, Length: 74, dtype: float64
Status Desc
Invest Cont     0.828097
Adult Other     0.095426
Adult Arrest    0.072137
Juv Arrest      0.002649
Juv Other       0.001680
UNK             0.000011
Name: proportion, dtype: float64
LOCATION
600 S  BROADWAY                             0.001928
800 N  ALAMEDA                      ST      0.001804
7TH                                         0.001772
6TH                                         0.001669
6TH                          ST             0.001648
                                              ...
EDGEWOOD                                    0.000005
12700    KITTRIDGE                    ST    0.000005
4100 W  59TH                         ST     0.000005
11900    DORAL                        AV    0.000005
7500 W  91ST                         ST     0.000005
Name: proportion, Length: 39286, dtype: float64

In [3]:
# Which hour has the highest frequency of crimes? Store as an integer variable called peak_crime_hour.

# Create hour_occ from slicing 'TIME OCC' column and type casting to integer
crimes['hour_occ'] = crimes['TIME OCC'].str[:2]
peak_crime_hour = int(crimes['hour_occ'].value_counts().idxmax())
peak_crime_hour

12

In [4]:
# Which area has the largest frequency of night crimes (crimes committed between 10pm and 3:59am)? Save as a string variable called peak_night_crime_location.\
crimes['TIME OCC'] = crimes['TIME OCC'].astype('int')
filtered_night_crimes = crimes[(crimes['TIME OCC'] >= 2000) | (crimes['TIME OCC'] <= 359 )]
peak_night_crime_location = filtered_night_crimes['AREA NAME'].value_counts().idxmax()
peak_night_crime_location

'Central'

In [5]:
# Identify the number of crimes committed against victims of different age groups.\
# Save as a pandas Series called victim_ages, with age group labels "0-17", "18-25", "26-34", "35-44", "45-54", "55-64", and "65+" as the index and the frequency of crimes as the values.

crimes['age_bin'] = pd.cut(crimes['Vict Age'], bins=[0, 17, 25, 34, 44, 54, 64, np.inf], labels=["0-17", "18-25", "26-34", "35-44", "45-54", "55-64", "65+"])
victim_ages = crimes['age_bin'].value_counts()
print(victim_ages)

age_bin
26-34    47470
35-44    42157
45-54    28353
18-25    28291
55-64    20169
65+      14747
0-17      4528
Name: count, dtype: int64