![New York City schoolbus](schoolbus.jpg)

Photo by [Jannis Lucas](https://unsplash.com/@jannis_lucas) on [Unsplash](https://unsplash.com).
<br>

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a **maximum score of 800 points**. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

You have been provided with a dataset called `schools.csv`, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

* Which NYC schools have the best math results?
* The best math results are at least 80% of the *maximum possible score of 800* for math.
* Save your results in a pandas DataFrame called best_math_schools, including "school_name" and "average_math" columns, sorted by "average_math" in descending order.

In [20]:
import pandas as pd

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
schools.head()

math_threshold = 0.8  * 800
best_math_schools = schools.query("average_math >= @math_threshold")
best_math_schools = best_math_schools[["school_name", "average_math"]].sort_values("average_math", ascending=False).reset_index(drop=True)
best_math_schools

                                         school_name  average_math
0                             Stuyvesant High School           754
1                       Bronx High School of Science           714
2                Staten Island Technical High School           711
3  Queens High School for the Sciences at York Co...           701
4  High School for Mathematics, Science, and Engi...           683
5                     Brooklyn Technical High School           682
6                        Townsend Harris High School           680
7  High School of American Studies at Lehman College           669
8  New Explorations into Science, Technology and ...           657
9                      Eleanor Roosevelt High School           641

* What are the top 10 performing schools based on the combined SAT scores?
* Save your results as a pandas DataFrame called top_10_schools containing the "school_name" and a new column named "total_SAT", 
* with results ordered by "total_SAT" in descending order ("total_SAT" being the sum of math, reading, and writing scores).

In [27]:
schools["total_SAT"] = schools["average_math"] + schools["average_reading"] + schools["average_writing"]
top_10_schools = schools[["school_name", "total_SAT"]].sort_values("total_SAT", ascending=False).reset_index(drop=True).head(10)
top_10_schools

                                         school_name  total_SAT
0                             Stuyvesant High School       2144
1                       Bronx High School of Science       2041
2                Staten Island Technical High School       2041
3  High School of American Studies at Lehman College       2013
4                        Townsend Harris High School       1981
5  Queens High School for the Sciences at York Co...       1947
6                     Bard High School Early College       1914
7                     Brooklyn Technical High School       1896
8                      Eleanor Roosevelt High School       1889
9  High School for Mathematics, Science, and Engi...       1889

* Which single borough has the largest standard deviation in the combined SAT score?
* Save your results as a pandas DataFrame called largest_std_dev.
* The DataFrame should contain one row, with:
* "borough" - the name of the NYC borough with the largest standard deviation of "total_SAT".
* "num_schools" - the number of schools in the borough.
* "average_SAT" - the mean of "total_SAT".
* "std_SAT" - the standard deviation of "total_SAT".
* Round all numeric values to two decimal places.

In [26]:
largest_std_dev = schools.groupby("borough").agg(
        num_schools=("school_name", "count"),
        average_SAT=("total_SAT", "mean"),
        std_SAT=("total_SAT", "std")
    ).round(2)


largest_std_dev = largest_std_dev.sort_values("std_SAT", ascending=False).head(1)
largest_std_dev

           num_schools  average_SAT  std_SAT
borough
Manhattan           89      1340.13   230.29